* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;               
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #111111; 
    display: flex;
    flex-direction: column;
}

body {
    background-image: url("./img/bgc.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #00000080;
    background-blend-mode: color;
}

main {
    flex: auto;
}

header {
    width: 1280px;
    margin: 30px auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

nav a {
    text-decoration: none;
    color: #ffffff; 
}

nav a:hover {
    color: #CDAA7D; 
    border-bottom: 1px solid #CDAA7D;
}

.logo {
    margin: 0 40px;
}

.instagram, .logo {
    border: none !important;
}

.instagram:hover path {
    stroke: #CDAA7D;
}

#menu, .nav_contact {
    display: none;
}

#menu:checked ~ .nav_contact {
    transform: translate(475px, 0);
}

.nav_contact {
    transition: all 1s linear;
    display: flex;
    position: fixed;
    flex-direction: column;
    color: #ffffff;
    height: 100vh;
    width: 475px;
    background-color: #111111;
    right: 0;
    bottom: 0;
    justify-content: center;
    gap: 60px;
    padding: 0 80px;
    border-left: 1px solid gray; 
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.nav_contact label {
    position: absolute;
    top: 42px;
    left: 82px;
    
}

.nav_contact ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav_contact ul li:first-child {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

hr {
    width: 1280px;
    margin: auto;
    background-color: #ffffff80;
    border-width: 1px;
}

.first_screen {
    display: flex;
    justify-content: center;    
    height: 100vh;
    text-align: center;
}

.first_screen h1 {
    color: white;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    margin-top: 180px;
}

.scroll {
    font-weight: 700;
    font-style: 18px;
    line-height: 25;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 100px;
}

.scroll::before {
    content: url("/style/img/mouse.svg")
}

.commas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 856px;
    height: 385px;
    margin: auto;
    text-align: center;
    top: 120px;
    font-size: 27px;
}

.commas img {
    width: 80px;
    height: 64px;
}

.commas blockquote {
    margin-top: 60px;
}

.services {
    display: flex;
    justify-content: center;
    margin-top: 95px;
}

.service {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 1296px;
    height: 832px;
    left: 312px;
}

.service img {
    width: 416px;
    height: 386px;
}

.icons {
    display: flex;
    gap: 60px;
    justify-content: center;
    width: 1296px;
    height: 144px;
}

.icons span {
    height: 144px;
}